<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hoy ya es mañana - Las Buenas Noches</title>
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' -->
        <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>

        <meta name="Author" content="Las Buenas Noches"/>
        <meta name="Keywords" content="música, music, folk, folclore, creative commons"/>
        <meta name="description" content="Sitio web del grupo de folk Las Buenas Noches - Presenta su nuevo disco Hoy ya es mañana">

        <meta property="fb:admins" content="100001961529336" />
        <!--meta property="og:title" content="Las Buenas Noches"/ -->
        <meta property="og:type" content="band"/>
        <meta property="og:url" content="http://lasbuenasnoches.com"/>
        <meta property="og:image" content="http://lasbuenasnoches.com/images/portada640.jpg"/>
        <meta property="og:site_name" content="Las Buenas Noches"/>
        <meta property="og:description" content="Las Buenas Noches somos una banda de folclore apocalíptico transcontinental."/>

        <!-- build:css styles/styles.css -->
        <link rel="stylesheet" href="/styles/normalize.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
      <%= yield %>

      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <!-- build:js scripts/main.js -->
      <script src="bower_components/jquery/jquery.js"></script>
      <script src="scripts/fastclick.js"></script>
      <script src="bower_components/fitvids/jquery.fitvids.js"></script>
      <script src="scripts/main.js"></script>
      <!-- endbuild -->

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-22232351-2', 'lasbuenasnoches.com');
        ga('send', 'pageview');
      </script>
</body>
</html>
