<div id="nubes">
  <div class="center">
    <h2 id="titulo-proximos-conciertos" class="">Próximos conciertos</h2>
    <p>
      <h4>Madrid - Intruso Bar</h4>
      <h5>Jueves 19 de Junio 22:00h.</h5>
      c/Augusto Figueroa, 3.<br>
      8€ anticipada / 10€ puerta.
      <a href="https://www.ticketea.com/entradas-buenas-noches-madrid/">Venta anticipada en ticketea.com</a>
    </p>

    <p>
      <h4>Valencia - Sala La Llimera</h4>
      <h5>Viernes 20 de Junio 21:00h.</h5>
      c/Perez Escrich, 13.<br>
      4€ en puerta.
    </p>

    <p>
      <h4>Teruel - Festival Periférico 2014</h4>
      <h5>Sábado 21 de Junio 20:00h.</h5>
      Masía La Torre, Noguerelas.<br>
    </p>
  </div>
</div>
