<div id="releases">
  <div class="center">
    <h2>Escucha y descarga</h2>

    <div  id="release-manana" class="row release">
         <div class="cover">
             <img src="images/portada640.jpg" alt="Las Buenas Noches - 2014 - Hoy ya es mañana" />
         </div>
         <div class="description">
             <a name="disco-mañana">
               <h3>Hoy ya es mañana</h3>
             </a>
             <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=884923430/size=large/bgcol=ffffff/linkcol=63b2cc/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://lasbuenasnoches.bandcamp.com/album/aventuras-dom-sticas">Aventuras Domésticas - 2008 - Las Buenas Noches</a></iframe>
             <a href="images/Las%20Buenas%20Noches%20-%202014%20-%20Hoy%20ya%20es%20man%cc%83ana.zip">
               <img src="images/download.png" alt="descarga" />
               <span class="download">Descarga gratuíta</span> mp3 a 320kbs en alta calidad.
             </a>
         </div>
    </div>

    <div  id="release-unmaldia" class=" row release">
            <div class="cover">
                <a href="http://antes.lasbuenasnoches.com/canciones-un-mal-dia">
                    <img src="images/portada_unmaldia.jpg" alt="Las Buenas Noches - 2011 - Un mal día (lo tiene cualquiera)" />
                </a>
            </div>
            <div class="description">
                <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2826221063/size=large/bgcol=ffffff/linkcol=63b2cc/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://lasbuenasnoches.bandcamp.com/album/un-mal-d-a-lo-tiene-cualquiera">Un Mal Día (lo tiene cualquiera) - 2011 - Las Buenas Noches</a></iframe>
                <a href="http://www.archive.org/download/LasBuenasNoches-2011-UnMalDia/Lbn-2011-unMalDiaLoTieneCualquiera.zip">
                  <img src="images/download.png" alt="descarga" />
                  <span class="download">Descarga gratuíta</span> mp3 a 320kbs en alta calidad.
                </a>
            </div>
      </div>

      <div  id="release-aventuras" class="row release">
           <div class="cover">
               <a href="http://antes.lasbuenasnoches.com/canciones-aventuras-domesticas">
               <img src="images/portada_aventuras.jpg" alt="Las Buenas Noches - 2008 - Aventuras Domésticas" />
               </a>
           </div>
           <div class="description">
               <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1650859682/size=large/bgcol=ffffff/linkcol=63b2cc/tracklist=false/artwork=none/transparent=true/" seamless><a href="http://lasbuenasnoches.bandcamp.com/album/aventuras-dom-sticas">Aventuras Domésticas - 2008 - Las Buenas Noches</a></iframe>
               <a href="http://www.archive.org/download/LasBuenasNoches-2008-AventurasDomesticas/LBN-2008-Aventuras.zip">
                 <img src="images/download.png" alt="descarga" />
                 <span class="download">Descarga gratuíta</span> mp3 a 320kbs en alta calidad.
               </a>
           </div>
       </div>
   </div>
</div>
