<footer>
  <div class="center">
   <div class="row">
       <div id="license">
           <p>
           Toda la música e imágenes de <a xmlns:cc="http://creativecommons.org/ns#" href="http://lasbuenasnoches.com" property="cc:attributionName" rel="cc:attributionURL">Las Buenas Noches</a> están bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a>.</p>

           <p>Esta licencia te permite descargar legalmente la música sin pagar nada y copiárselo a quien te de la gana. También puedes usar la música o las imágenes
           para hacer lo que quieras siempre que lo compartas con una licencia igual a la esta.</p>
           <p>Para otros usos <a href="mailto:contacto@lasbuenasnoches.com">ponte en contacto con nosotros</a>.</p>

           <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br/>

       </div>

       <div id="about">
           <p>Las Buenas Noches es un grupo de música formado por Rubén Alonso, Daniel Cuberta, Camilo Bosso, Miguel Brieva y Daniel Gómez.</p>
           <p class="contact"><a href="mailto:contacto@lasbuenasnoches.com">contacto@lasbuenasnoches.com</a><br>
             <a href="https://www.facebook.com/LasBuenasNoches">facebook.com/LasBuenasNoches</a>
             <a href="https://twitter.com/lbn_musica">twitter.com/LBN_musica</a></p>
   </div>
  </div>
</footer>
