<div class="center">
 <div id="tienda" class="row">
     <a name="tienda">
       <h2 id="venta-de-discos" class="replace">Venta de discos</h2>
     </a>
     <p>Si quieres que te enviemos algún disco a casa
       <a href="mailto:contacto@lasbuenasnoches.com">escríbenos a contacto@lasbuenasnoches.com</a><br>
       Normalmente funcionamos con transferencia bancaria y hacemos descuentos por packs.</p>
     <div class="row release">
        <div class="cover small">
            <img src="images/portada640.jpg" alt="Las Buenas Noches - 2014 - Hoy ya es mañana" />
        </div>
        <div class="description">
          <h5>Hoy ya es mañana</h5>
          <p>CD: 10€<br>
          Vinilo: próximamente</p>
        </div>
     </div>

     <div class="row release">
         <div class="cover small">
           <img src="images/portada_unmaldia.jpg" alt="Las Buenas Noches - 2011 - Un mal día (lo tiene cualquiera)" />
         </div>
         <div class="description">
           <h5>Un mal día (lo tiene cualquiera)</h5>
           <p>CD: 8€<br>Vinilo: 12€</p>
         </div>
       </div>

       <div class="row release">
            <div class="cover small">
                <img src="images/portada_aventuras.jpg" alt="Las Buenas Noches - 2008 - Aventuras Domésticas" />
            </div>
            <div class="description">
              <h5>Aventuras Domésticas</h5>
              <p>CD: 5€</p>
            </div>
        </div>
     <p>También los puedes encontrar en:</p>
     <h5>Sevilla</h5>
     <p>Librerías la fuga (c/Conde de Torrejón, 4),<br>
       Librería La Extravagante (Alameda de Hércules),<br>
       Puesto de Bea del Mercadillo del Jueves (c/Feria)</p>

     <h5>Madrid</h5>

     <p>Madrid Cómics (c/Silva, 17),<br>
       Librería Antonio Machado (c/San Joaquin, 3),<br>
       Bajo el Volcán (c/Ave María, 42),<br>
       La Buena Vida (c/Vergara, 10),<br>
       La independiente (c/Espíritu Santo, 27),<br>
       Cafe El Molar (c/de la Ruda, 19)</p>

       <h5>BARCELONA</h5>
       <p>Freaks (c/Ali Bei, 10),<br>
         Heliogàbal (c/ Ramón y Cajal, 80),<br>
         Arkham Comics (c/Xuclà, 16)</p>
     </p>
 </div>
</div>
